body{
    overflow-x: hidden; 
}
.container{
    background-color: rgb(243,243,243);
    border-radius: 20px;
    display: flex;
    width: 1330px;
    box-shadow: 3px 3px 3px lightgray;

}
ul{
    display: flex;
    list-style-type: none;
}
nav{
    margin-left: 200px;
    margin-top: 5px;
}
li a{
    margin-left: 20px;
    color: black;
    padding: 7px;
    text-decoration: none;
    font-weight: bold;
}
li a:hover{
    color: white;
    background-color: red;
    border-radius: 10px;
}
.one{
    color: red;
    margin-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
}
.box{
    margin-top: 7px;
    width: 1330px;
    height: 550px;
    /* border: 1px solid black; */
    /* display: flex; */
}
.pre{
    text-align: center;
    color: red;
    font-family: fantasy;
    letter-spacing: 3px;
}
 /* .box-one{
    width: 100%;
    height: 580px;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: -2px;
    margin: 0 auto 0 auto;
    background-image: url("a-man-holds-up-a-mobile-in-a-crowd-on-a-bright-day.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    justify-content: center;
    text-align: center; 
    background-color: white;
} */
.two{
    /* text-align: center; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}
table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}
table{
    text-align: center;
    background-color:darkslategray;
}
th{
    background-color: gray;
}
td{
    color: white;
}
.first{
    width: 1330px;
    height: 550px;
    /* border: 1px solid black; */
    background-image: url("a-man-holds-up-a-mobile-in-a-crowd-on-a-bright-day.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}
/* .first::before{
    content: "You are the future";
    position: absolute;
    left: 27%;
    font-weight: bolder;
    transition-delay: .2s;
    font-size: 40px;
    color: red;
    opacity: 0;
}
.first:hover::before{
    top: 40%;
    opacity: 1;
} */
/* .first::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(105, 105, 105, 0.463);
    transition-delay: .3s;
    bottom: 0px;
    opacity: 0;
}
.first:hover::after{
    height: 100%;
    opacity: 1;
    border-radius: 10px;
} */
.second{
    margin-top: 5px;
    width: 1330px;
    height: 430px;
    /* border: 1px solid black; */
    border-radius: 20px;
    display: flex;
}
.ban{
    width: 50%;
    height: 430px;
    /* border: 1px solid black; */
    border-radius: 20px;
    background-image: url("a-woman-holds-women-s-day-sign.jpg");
    background-position: center;
    background-size: cover;
}
.can{
    width: 50%;
    height: 430px;
    /* border: 1px solid black;   */
    border-radius: 20px;
    background-color:honeydew;
}
.lab{
    margin-top: 35px;
    font-family: cursive;
    line-height: 40px;
    margin-left: 5px;
}
.third{
    margin-top: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.668);
    font-weight: bolder;
}
.fourth{
    margin-top: 100px;
    font-family: fantasy;
    font-size: 30px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.660);
    font-weight: bolder;
}
.fifth{
    margin-top: -5px;
    border-radius: 10px;
    width: 1330px;
    height: 700px;
    background-image: url("red-earbuds-and-smartphone.jpg");
    margin-left: 1px;
    background-position: center;
    background-size: cover;
    position: relative;
    /* border: 1px solid black; */
}
.fifth::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: rgba(105, 105, 105, 0.463);
    bottom: 0px;
    opacity: 0;
}
.fifth:hover::after{
    height: 100%;
    opacity: 1;
    border-radius: 10px;

}
.sixth{
    text-align: center;
    font-size: larger;
    color: red;
    letter-spacing: 6px;
}
.seventh{
    width: 99%;
    height: 100px;
    border: 1px solid black;
    margin-top: 12px;
    margin-left: 1px;
    background-color: rgba(255, 255, 255, 0.458);
    box-shadow: 2px 2px 2px lightgray;
    border-radius: 10px;
}
/* .eighth{
    margin-left: 10px;
    margin-top: 45px;
} */
/* .ninth{
    transform: translate(1050px,-50px);
}
.tenth{
    width: 99%;
    height: 30px;
    background-color: dimgray;
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 1px;
} */
.thirteenth{
    color: white;
    background-color: blue;
}
.equal{
    color: red;
    transform: translate(900px, 200px);
    letter-spacing: 3px;
    font-family: cursive;
}
.fourteenth{
    margin-top: 10px;
    width: 1330px;
    height: 50px;
    background-color: slategrey;
    border-radius: 20px;
}
.fifteenth{
    color: whitesmoke;
    text-align: center;
    transform: translateY(10px);
}
.o{
    width: 1330px;
    height: 600px;
    border: 1px solid black;
    background-color:brown;
    border-radius: 20px;
    margin-top: 5px;
}
.p{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 12rem;
}
.q{
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    color: white;
}
.r{
    background-color: white;
    color: black;
    height: 60px;
    border: 1px white;
    margin-left: 43%;
    width: 170px;
    font-weight: bolder;
    font-size: large;
}
.s{
    width: 1335px;
    height: 400px;
    /* border: 1px solid black; */
    margin-top: 5px;
    border-radius: 10px;
    /* background-color: whitesmoke; */
    background-image: url("business-women-working.jpg");
    background-position: center;
    /* background-size: contain; */
}
.t{
    margin-left: 20px;
    font-size: large;
    font-weight: bolder;
    color: crimson;
    font-family: cursive;
}
.u{
    font-size: 35px;
    margin-left: 20px;
    font-weight: bolder;
    color: crimson;
}
.v{
    font-size: medium;
    margin-left: 20px;
}
.w{
    margin-top: 40px;
    text-decoration: none;
    margin-left: 20px;
    color: black;
    transform: translate(1045px, -130px);
}
.x{
    transform: translate(1045px, -130px);
}
.hair{
    width: 140px;
    height: 30px;
    background-color: darkcyan;
    margin-top: 9px;
    margin-bottom: 3px;
    border-radius: 10px;
}
.brows{
    text-align: center;
    margin-top: 9px;
    transform: translateY(2px);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    letter-spacing: 3px;
}
.eyes{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.419);
}
.pupil{
    font-weight: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nose{
    color:blue;
}
.mouth{
    color: black;
    font-family: cursive;
}
.ear{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.neck{
    color: blue;
    text-decoration: none;
}
.chin{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
